<title>Chat Demo</title>
<link rel="shortcut icon" href="../assets/images/chatlogo.svg">
<link rel="stylesheet" href="../assets/css/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="root">
  <div class="left-side">
    <div class="msger-seach-root">
      <div onclick="handleClickBackToRoom()" class="back-to-room"><i class="fa fa-arrow-left"></i></div>
      <input type="text" class="msger-seach" placeholder="Search..." onkeyup="handleKeyUpSearch(event)"/>
      <i class="fa fa-user-plus" onclick="handleShowCreateRoomPopup()"></i>
    </div>
    <main class="list-room">

    </main>
    <main class="list-room-search">

    </main>
  </div>
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-comment-alt"></i> <span id="msger-room-name"></span>
      </div>
      <div class="msger-header-options">
        <i class="fa fa-phone" onclick="handleCall(false)"></i>
        <i class="fa fa-video-camera m-l-8" onclick="handleCall(true)"></i>
        <i class="fa fa-info-circle m-l-8" onclick="handleClickInfo()"></i>
      </div>
    </header>
        <main class="msger-chat" onscroll="handleScrollMsg(this)">
        </main>
        <div class="user-typing"></div>
  
    <div class="msger-files"></div>
    <div class="msger-inputarea">
      <input type="text" class="msger-input" placeholder="Enter your message..." onkeyup="handleKeyUpInput(event)" />
      <input type="file" name="uploadFile" id="uploadFile" class="inputfile">
      <label for="uploadFile"><i class="fa fa-upload"></i></label> 
      <button type="submit" class="msger-send-btn" onclick="handleUpload()">Send</button>
    </div>
    <div id="video-area">
      <div id="video-grid" class="d-none">
        <div class="call-audio-feature">
          <div class="call-status">Đang gọi</div>
          <div>
            <i class="fa fa-video-camera" onclick="handleMuteVideo()"></i>
            <i class="fa fa-microphone m-l-60" onclick="handleMuteAudio()"></i>
            <i class="fa fa-share m-l-60" onclick="handleShareScreen()"></i>
            <i class="fa fa-phone m-l-60" onclick="handleCancelCall()"></i>
          </div>
        </div>
      </div>
      <div id="call-audio" class="d-none">
        <div class="call-audio-info">
          <div class="call-audio-name"></div>
        </div>
        <div class="call-status">Đang gọi</div>
        <div class="call-audio-feature">
          <i class="fa fa-video-camera" onclick="handleMuteVideo()"></i>
          <i class="fa fa-microphone m-l-60" onclick="handleMuteAudio()"></i>
          <i class="fa fa-phone m-l-60" onclick="handleCancelCall()"></i>
        </div>
      </div>
    </div>
    <div class="msger-popup-call-root d-none">
        <div class="msger-popup-call">
            <div class="content">Nhận cuộc gọi</div>
            <div class="btn-group">
                <button type="submit" class="msger-send-btn" onclick="handleCancelCall()">Cancel</button>
                <button type="submit" class="msger-send-btn" onclick="handleAgreeCall()">Agree</button>
            </div>
        </div>
        <div class="layer"></div>
    </div>

    <div class="msger-popup-wait-call-root d-none">
      <div class="msger-popup-call">
          <div class="content">Calling...</div>
          <div class="btn-group">
            <button type="submit" class="msger-send-btn" onclick="handleCancelCall()">Close</button>
        </div>
      </div>
      <div class="layer"></div>
  </div>

  <div class="list-users-popup msg-popup d-none">
    <div class="msger-popup-call">
      <input type="text" class="msger-seach" placeholder="Search..." onkeyup="handleKeyUpSearch(event)"/>
      <div id="lst-user">
      </div>
      <div class="btn-group">
        <button type="submit" class="msger-send-btn" onclick="handleCancelCreateRoom()">Cancel</button>
        <button type="submit" class="msger-send-btn" onclick="handleCreateNewRoomOrAddMember()">Create</button>
     </div>
    </div>
    <div class="layer"></div>
  </div>
  </section>
  <section id="room-info">
  </section>
  <div class="dropdown-root">

  </div>
</div>

<!-- <script>
    loginInfo = {
      "mail": "register1@gmail.com",
      "password": "12345679"
    };
    loginInfo = {
      "mail": "register4@gmail.com",
      "password": "12345679"
    };
</script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- <script src="./lib/chat-library.js"></script> -->
<script src="https://cdn.jsdelivr.net/gh/phamdinhthien/realtime-chat-cdn@main/real-chat.js"></script>

<script src="../assets/js/index.js"></script>
